{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to my project</h1>
<div id="body">
    <form >
        <label for="keyword">Search Name:</label>
        <input type="text" id="keyword" name="keyword" onkeyup="myFun(this.value)" />
    </form>
    <div>
        <h3>Suggestion: <span id="txtHint"></span></h3>
    </div>

    <div id="color" style="height: 100px; width: 200px; background-color: grey; text-align: center;">
        <button type="button" onclick="newColor()">New Color</button>
        <button type="button" onclick="prevColor()">Prev Color</button>
    </div>

    <div style="margin-top: 20px;">
        <label for="value1">Value 1:</label>
        <input type="number" id="value1" name="value1" />
        <label for="value2">Value 2:</label>
        <input type="number" id="value2" name="value2" />
        <br>
        <h3>Total: <span id="result"></span></h3>
        <button type="button" onclick="mySum()">Sum</button>
    </div>

    <div style="margin-top: 20px;">
        <button type="button" onclick="clearScreen()">Hide Screen</button>
    </div>

</div>

</body>



<!-- <script src="{% static 'js/main.js' %}"></script> -->

<script>
    
    // SUM CALCULATION
    function mySum() {
        let x = parseInt(document.getElementById('value1').value);
        let y = parseInt(document.getElementById('value2').value);
        console.log('value1', x);
        console.log('value2', y);
        let z = x + y;
        document.getElementById('result').innerHTML =
        z;
    }
    
    // CLEAR SCREEN

    function clearScreen() {
        document.getElementById('body').style.display =
        'none'
    }

    // Search Hint AJAX
    function myFun(keyword) {
        console.log('keyword', keyword);
        if (keyword.length == 0) {
            document.getElementById('txtHint').innerHTML = '';
            return;
        } else {
            const xmlhttp = new XMLHttpRequest();
            xmlhttp.onload = function() {
            document.getElementById('txtHint').innerHTML = this.responseText;
        }
        xmlhttp.open('GET', 'result/'+ keyword);
        xmlhttp.send();
        }
    }

    // Background Color Change JAVA

    function newColor() {
        document.getElementById('color').style.backgroundColor =
        'blue';
    }

    function prevColor() {
        document.getElementById('color').style.backgroundColor =
        'grey';
    }

</script>




</html>