<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HW Home Page</title>
</head>
<body>
<div style="text-align: center;">
    <div>
        <h2>Home Work Topics</h2>
    </div>
    <div>

        <ul style="list-style-type: none;">
            <li><h3><a href="{% url 'blog_modal' %}">Javascript Modal (Using Click Event and pop up HTML Content)</a></h3></li>
            <li><h3><a href="{% url 'blog_form' %}">Javascript Form Submit (Alert Form Data (Name, Eamil, Phone) in a HTML Tag)</a></h3></li>
            <li><h3><a href="{% url 'blog_country' %}">Javascript Remove Row (Using Click Event)</a></h3></li>
            <li><h3><a href="{% url 'blog_hw' %}">Javascript Hide (Hide Body content using display property)</a></h3></li>
            <li><h3><a href="{% url 'blog_hw' %}">Javascript Style (Change Background Style)</a></h3></li>
            <li><h3><a href="{% url 'blog_hw' %}">Javascript Form Input (Sum two fileds value and show result)</a></h3></li>
            <li><h3><a href="{% url 'blog_hw' %}">Search Hint Project</a></h3></li>
            <li><h3><a href="{% url 'blog_country' %}">Final Project</a></h3></li>
            <li><h2><a href="jquery/">Solution Using Jquery</a></h2></li>
        </ul>

        
    </div>
</div>

    
</body>
</html>